@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: #0b082e;
}

h1 {
    font-family: Orbitron;
    padding: 30px 0px 15px 50px;
}

h2 {
    font-family: Orbitron;
    padding: 15px 15px 15px 15px;
    background-color: #bb301f;
}

h3 {
    font-family: Orbitron;
    color: #f0f35c;
    background-color: black;
    line-height: 160%;
}

img {
    padding: 0px 30px 50px 50px;
    background-color: #0b082e;
}

/* unvisited link */
a:link {
    color: #bb301f;
  }
  
  /* visited link */
  a:visited {
    color: #bb301f;
  }
  
  /* mouse over link */
  a:hover {
    color: #bb301f;
  }
  
  /* selected link */
  a:active {
    color: #bb301f;
  }